*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  background-image: url(../images/bg-guess-the-word.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
  width: 95%;
  padding: 3rem;
  border-radius: 8px;
  background-color: #030616;
  text-align: center;
}
@media only screen and (max-width: 18.75em) {
  .card {
    padding: 1rem;
  }
}
.card__title {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: white;
  background-image: linear-gradient(to right, #7429c6, #c951e7);
  color: transparent;
  background-clip: text;
}
.card__scrambled-letters {
  font-size: 3.2rem;
  margin-bottom: 3rem;
  background-color: #4a5567;
  border-radius: 6px;
  padding: 2rem;
  letter-spacing: 2rem;
  color: hsl(217, 16%, 65%);
  width: 100%;
  box-shadow: 0 7px 1px rgb(0, 0, 0);
}
.card__infos, .card__button-box {
  color: #4a5567;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
@media only screen and (max-width: 37.5em) {
  .card__infos, .card__button-box {
    max-width: 35rem;
    width: 100%;
  }
}
.card__infos .info {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .card__infos .info:not(:last-child) {
    margin-right: 5%;
  }
}
.card__infos .info__mistake-letters, .card__infos .info__dot-box {
  margin-left: 7px;
}
.card__infos .info__mistake-letters {
  color: hsl(217, 16%, 65%);
}
.card__infos .info__dot-box {
  display: flex;
  align-items: center;
}
.card__infos .info__dot-box .dot {
  height: 7px;
  width: 7px;
  background-color: #7429c6;
  border-radius: 50%;
}
.card__infos .info__dot-box .dot:not(:last-child) {
  margin-right: 5px;
}
.card__button-box {
  padding: 0 2rem;
}
@media only screen and (max-width: 37.5em) {
  .card__button-box {
    padding: 0 0;
  }
}
.card__arranged-letters {
  display: flex;
  gap: 1rem;
  margin: 6rem 0;
}
@media only screen and (max-width: 37.5em) {
  .card__arranged-letters {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.card__arranged-letters .letter-box {
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  border: 2px solid #4a5567;
  border-radius: 9px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__arranged-letters .letter-box:hover {
  border: 2px solid #672171;
}

.btn {
  color: white;
  font-size: 1.4rem;
  background-color: #c951e7;
  border: none;
  padding: 1.3rem 4rem;
  border-radius: 10px;
  box-shadow: 0 5px 1px rgba(201, 81, 231, 0.5725490196);
}
@media only screen and (max-width: 37.5em) {
  .btn:not(:last-child) {
    margin-right: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
