// COLOR VARIABLES
$color-primary-1: #7429c6;
$color-primary-2: #c951e7;
$color-secondary: #672171;
$text-light: #f2f5f9;
$text-grey: #97a3b6;
$color-dark-grey: #4a5567;
$color-dark: #030616;

//RESPONSIVE BREAKPOINT
$bp-large-desktop: 112.5em; //1800px
$bp-tab-land: 75em; //1200px
$bp-tab-port: 56.25em; //900px
$bp-phone: 37.5em; //600px
$bp-small-phone: 18.75em; //300px

// BASE
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  @media only screen and (min-width: $bp-large-desktop) {
    font-size: 75%;
  }
  @media only screen and (max-width: $bp-tab-land) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: $bp-tab-port) {
    font-size: 50%;
  }
}

body {
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  background-image: url(../images/bg-guess-the-word.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader-box {
  position: absolute;
  z-index: 2;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-dark;
  transition: opacity 0.5s ease;
}

.custom-loader {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, $color-primary-1) content-box;
  mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - 9px),
      #000 calc(100% - 8px)
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s4 1s infinite steps(10);
}
@keyframes s4 {
  to {
    transform: rotate(1turn);
  }
}
// ::selection {
//   background-color: $color-white;
//   color: $dark-text;
// }

// typography
// 32rem large
// 20rem medium
// 12rem small
// 14rem button
